# Pandas

In [1]:
import numpy as np
import pandas as pd

In [3]:
labels = ['a', 'b', 'c']
my_data= [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [8]:
labels

['a', 'b', 'c']

In [5]:
my_data

[10, 20, 30]

In [6]:
arr

array([10, 20, 30])

In [7]:
d

{'a': 10, 'b': 20, 'c': 30}

In [9]:
pd.Series(data = my_data)      # numpy array 랑 비슷하지만 첫 컬럼이 인덱스임

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data = my_data, index = labels)       # numpy array 랑 다르게 인덱스가 이미 있음

a    10
b    20
c    30
dtype: int64

In [11]:
# 짧게

pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(arr, labels)       # 파이썬 리스트나 넘파이 리스트나 똑같이 가져옴

a    10
b    20
c    30
dtype: int32

In [14]:
pd.Series(d)       # 딕셔너리는 key 가 index 되고 values 가 나옴

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(data = labels)      # string 이 값일 수도 있음

0    a
1    b
2    c
dtype: object

In [17]:
pd.Series(data=[sum,print,len])        # 심지어 function 도 가져올수 있음 (별로 안쓰임 이건)

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [18]:
ser1 = pd.Series([1,2,3,4], ['USA', 'Germany', 'USSR', 'Japan'])

In [19]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [20]:
ser2 = pd.Series([1,2,5,4], ['USA', 'Germany', 'Italy', 'Japan'])

In [21]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [22]:
ser1['USA']         # index 로 가져오는 것. string 으로도 가능

1

In [23]:
ser3 = pd.Series(data=labels)

In [25]:
ser3[0]

'a'

In [26]:
ser1 + ser2         # matching 안되는 나라는 NaN 으로 감
                    # pandas 랑 numpy 는 int 를 자동으로 float 으로 바꿔줌

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64