In [15]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [10]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [11]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [16]:
df = pd.DataFrame(randn(6,2),hier_index, ['A', 'B'])

In [17]:
df                # index with multi-level

             A         B
G1 1  0.410064 -0.133505
   2  1.064069 -1.117508
   3 -2.132717 -0.184848
G2 1 -0.512682 -1.725563
   2  1.552484  1.939271
   3 -1.720555 -0.966083

In [18]:
df.loc['G1']                # outside index 를 쓰면 sub dataframe 가져옴

          A         B
1  0.410064 -0.133505
2  1.064069 -1.117508
3 -2.132717 -0.184848

In [19]:
df.loc['G1'].loc[1]

A    0.410064
B   -0.133505
Name: 1, dtype: float64

In [20]:
df.index.names       # 현재 index 이름 없음

FrozenList([None, None])

In [21]:
df.index.names = ['Groups', 'Num']

In [22]:
df

                   A         B
Groups Num
G1     1    0.410064 -0.133505
       2    1.064069 -1.117508
       3   -2.132717 -0.184848
G2     1   -0.512682 -1.725563
       2    1.552484  1.939271
       3   -1.720555 -0.966083

In [25]:
df.loc['G2'].loc[2]['B']

1.9392706994097446

In [28]:
df.loc['G1'].loc[3,'B']

-0.18484845988389229

In [34]:
df.xs('G1')

            A         B
Num
1    0.410064 -0.133505
2    1.064069 -1.117508
3   -2.132717 -0.184848

In [35]:
# num 이 1 인 경우를 다 보고 싶은 경우

df.xs(1, level = 'Num')

               A         B
Groups
G1      0.410064 -0.133505
G2     -0.512682 -1.725563